---
layout: default
---


<section class="post">
  <div class="flex-row-between">
    <a href="{{ site.baseurl }}/">« Home</a>
    <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
      <div></div>
    </button>
  </div>
</section>

{{ content }}

<section>
  <nav class="post-nav" /nav>
</section>